@import "bootstrap-sprockets";
@import "bootstrap";

$red: rgb(190, 30, 45);
$orange: rgb(247, 147, 29);
$yellow: rgb(255, 242, 0);
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* ======================
--------universal--------
========================= */

body {
  padding-top: 60px;
  background-color: $orange;
  font-family: 'Shadows Into Light Two', cursive;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.jumbotron {
  background-color: $orange;
  border-color: $yellow;
}

.jumbotron h2 {
  font-family: 'Architects Daughter', cursive;
  color: $black;
  font-size: 2em;
  padding-top: 12px;
}

.btn {
  background-color: $red;
  border-color: $black;
}

.btn:hover {
  background-color: $yellow;
  color: $red;
  border-color: $white;
}

.alert {
  width: 40%;
  margin: 0 auto;
}

/* ======================
--------typography--------
========================= */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  color: $red;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $orange;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* ======================
----------HEADER----------
========================= */

.navbar {
  background-color: $red;
}

#logo {
  float: left;
  margin-right: 10px;
  padding: 3px;
  margin: 8px;
}

#logo:hover {
  background-color: rgba(0, 0, 0, .1);
  border-radius: 50px;
}

.navbar-inverse .navbar-nav {
  padding-top: 14px;
}

.navbar-inverse .navbar-nav > li {
  font-size: 1.5em;
}

.navbar-inverse .navbar-nav > li > a {
  color: $orange;
}

/* ======================
-------- FOOTER ----------
========================= */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $black;
  color: $red;
  small {
    float: left;
    padding-left: 40px;
  }
}

/* ======================
-------- SIDEBAR --------
========================= */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $black;
    color: $red;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: $white;
    }
  }
  strong {
    display: block;
  }
}

.users.follow {
  padding: 0;
}

/* =======================
--------- FORMS ----------
========================= */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.signin_form {
  width: 200px;
}

p a {
  color: $white;
}

p a:hover {
  text-decoration: none;
  color: $red;
}

/* =========================
-------- USERS INDEX --------
============================ */

.users {
  width: 40%;
  list-style: none;
  margin: 0 auto;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px dotted $white;
    a {
      color: $red;
    }
    a:hover {
      color: $white;
      text-decoration: none;
    }
  }
}

.user_info h1 {
  color: $white;
}

.user_info span a {
  color: $red;
}

.user_info span a:hover {
  color: $white;
}

/* ========================
-------- MICROPOSTS --------
=========================== */

#micropost .user a {
  color: $red;
  font-size: 1.4em;
}

#micropost .user a:hover {
  color: $white;
  text-decoration: none;
}

.content {
  font-size: 1.3em;
}

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid $black;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $white;
    display: block;
    margin-left: 60px;
  }

  .timestamp a {
    color: $red;
  }

}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

/* ======================
---------- MISC. --------
========================= */

// .debug_dump {
//   clear: both;
//   float: left;
//   width: 100%;
//   margin-top: 45px;
//   @include box_sizing;
// }

/* ========================
------ MEDIA QUERIES ------
========================= */

